DATABASE_URL="postgresql://usuario:senha@localhost:5432/abc_music"
NEXTAUTH_SECRET="gere-uma-chave-segura-com-openssl-rand-base64-32"
NEXTAUTH_URL="http://seu-dominio-ou-ip:3000"
N8N_WEBHOOK_URL="https://chnproject1.app.n8n.cloud/webhook/e4eb9ffc-b0ea-43f3-b42d-32a214aca670"
